

.table-wrapper {
  overflow-y: scroll;
  height: 95vh;
}

.table-wrapper th {
  position: sticky;
  top: 0;
}

.table-wrapper {
  background: rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background: #ddd;
}

td,
th {
  padding: 10px;
  text-align: center;
}
